[Desktop Entry]
Type=Application
Name=TeamSpeak 3
Terminal=false
Categories=Network;Application;
Exec=/home/teddy/.opt/TeamSpeak3-Client-linux_amd64/ts3client_runscript.sh
Icon=/home/teddy/.opt/TeamSpeak3-Client-linux_amd64/teamspeak.png
